
@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_LayoutNull.cshtml";
}

<h1>SignIn</h1>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignIn</title>
</head>
<body>
    <form method="post">
        <input name="UserName" type="text" class="form-control" />
        <br />
        <input name="Password" type="text" class="form-control" />
        <br />
        <button type="submit">Giriş Yap</button>
    </form>
</body>
</html>
